<div class="wrapper rtl" dir="rtl">
  <div class="cd-section">
    <div class="header header-1">
      <div class="page-header header-filter">
        <div
          class="page-header-image"
          style="background-image: url('assets/img/bac1.png');"
        ></div>
        <div class="container">
          <div class="row">
            <div class="col-6">
              <div class="card card-profile" data-background="full">
                <a href="javascript:;">
                  <img class="img img-raised rounded" src="./assets/img/tom-klein.jpg">
                </a>
                <div class="card-image">
                  <h4 class="title">Tom Klein</h4>
                  <div class="dropdown">
                    <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown" aria-expanded="false">
                      <i class="tim-icons icon-settings-gear-63"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                      <a class="dropdown-item" href="javascript:;">Edit Profile</a>
                      <a class="dropdown-item" href="javascript:;">Settings</a>
                      <a class="dropdown-item" href="javascript:;">Log out</a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <hr class="line-primary">
                  <h3 class="job-title">CTO</h3>
                  <div class="table-responsive">
                    <table class="table tablesorter " id="plain-table">
                      <tbody>
                        <tr>
                          <td class="text-left">
                            <i class="tim-icons icon-atom"></i> Skills
                          </td>
                          <td class="text-right">
                            Negotiation
                          </td>
                        </tr>
                        <tr>
                          <td class="text-left">
                            <i class="tim-icons icon-user-run"></i> Hobbies
                          </td>
                          <td class="text-right">
                            Graffiti
                          </td>
                        </tr>
                        <tr>
                          <td class="text-left">
                            <i class="tim-icons icon-chart-bar-32"></i> Level
                          </td>
                          <td class="text-right">
                            • • • •
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
