<app-navbar></app-navbar>
<main [attr.dir]="lang=='he' ? 'rtl' : null">
    <router-outlet></router-outlet>
</main>

<div class="row justify-content-start social">
  <ul class="social-network social-circle">
   <div class="col-12"><li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li></div>
   <div class="col-12"><li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li></div>
  </ul>
</div>
<!-- <app-footer></app-footer> -->
