<div class="wrapper rtl" dir="rtl">
  <div class="cd-section">
    <div class="header header-1">
      <div class="page-header header-filter">
        <div class="page-header-image" style="background-image: url('assets/img/bac1.png');"></div>
        <div class="container">
          <div class="row">
            <div class="col-3">
              <h1>בחר תחום:</h1>
            </div>
          </div>
          <div class="row">
            <div class="troum">
              <img src="assets/img/legalEaseLogo.png" alt="">
              <p class="description text-center">DSFSDFSDFSDFSDFSD</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
