<div class="wrapper">
  <div class="cd-section">
    <div class="header header-1">
      <div class="page-header header-filter">
        <div class="page-header-image" style="background-image: url('assets/img/bac1.png');"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col">
                  <div class="selectRegister" [class.cliked]="lawyer==true" (click)="changeLU('lawyer')"><span>עורך דין</span>
                  </div>
                  <!-- <div class="form-check form-check-radio" (click)="lawyer=true">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" [checked]="lawyer === true" name="exampleRadios"
                    id="exampleRadios1" value="true">
                  עורך דין
                  <span class="form-check-sign"></span>
                </label>
              </div> -->
                </div>
                <div class="col">
                  <div class="selectRegister " [class.cliked]="lawyer==false" (click)="changeLU('user')"><span>לקוח</span>
                  </div>
                  <!-- <div class="form-check form-check-radio" (click)="lawyer=false">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" [checked]="lawyer === false" name="exampleRadios"
                    id="exampleRadios2" value="false" checked>
                  לקוח
                  <span class="form-check-sign"></span>
                </label>
              </div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="lawyer==false">
            <div class="col-5">
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <p>
                  <mat-form-field appearance="legacy">
                    <mat-label>אימייל</mat-label>
                    <input matInput formControlName="email" placeholder="yourmail@mail.co.il" autocomplete="email"
                      type="email">
                    <mat-icon matSuffix>alternate_email</mat-icon>
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field appearance="legacy">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password" placeholder="***********"
                      autocomplete="current-password">
                    <mat-icon matSuffix>lock</mat-icon>
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
                </p>
                <div class="row">
                  <div class="col align-self-end">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" formControlName="longtime">
                        Remember me
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </div>


                  <div class="col align-self-end">
                    <h6 class="forgot">


                      <a [routerLink]="['/forgotPassword']" class="link footer-link">Forgot password?</a>
                    </h6>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col">
                    <button [disabled]="!loginForm.valid" type="submit"
                      class="btn btn-outline-success my-2 my-sm-0"> התחבר לקוח</button>
                  </div>
                  <div class="col">
                    <div class="google-btn" (click)="signInWithGoogle()">
                      <div class="google-icon-wrapper">
                        <img class="google-icon"
                          src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
                      </div>
                      <p class="btn-text"><b>Sign in with google</b></p>
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div>
          <div class="row" *ngIf="lawyer==true">
            <div class="col-md-5 col-12">
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <p>
                  <mat-form-field appearance="legacy">
                    <mat-label>אימייל</mat-label>
                    <input matInput formControlName="email" placeholder="yourmail@mail.co.il" autocomplete="email"
                      type="email">
                    <mat-icon matSuffix>alternate_email</mat-icon>
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field appearance="legacy">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password" placeholder="***********"
                      autocomplete="current-password">
                    <mat-icon matSuffix>lock</mat-icon>
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
                </p>
                <div class="row">
                  <div class="col align-self-end">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" formControlName="longtime">
                        Remember me
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </div>


                  <div class="col align-self-end">
                    <h6 class="forgot">
                      <a [routerLink]="['/forgotPassword']" class="link footer-link">Forgot password?</a>
                    </h6>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col">
                    <button [disabled]="!loginForm.valid" type="submit"
                      class="btn btn-outline-success my-2 my-sm-0">התחבר עורך דין</button>
                  </div>
                  <div class="col">
                    <div class="google-btn" (click)="signInWithGoogle()">
                      <div class="google-icon-wrapper">
                        <img class="google-icon"
                          src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
                      </div>
                      <p class="btn-text"><b>Sign in with google</b></p>
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
