<div class="wrapper rtl" dir="rtl">
  <div class="cd-section">
    <div class="header header-1">
      <div class="page-header header-filter">
        <div class="page-header-image" style="background-image: url('assets/img/bac1.png');"></div>
        <div class="container">
          <div class="row">
            <div class="col-3">
              <h1>בחר תחום:</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-md-2" *ngFor="let item of category" (click)="redirect(item._id)">
              <div class="troum"  >

                <div class="row">
                  <div class="col d-flex justify-content-center ">
                    <div class="pimf">
                      <img src="assets/img/legalEaseLogo.png" alt="">
                    </div>
                  </div>
                </div>
                <div class="row ds">
                  <div class="col">
                    <p class="description text-center">{{item.name}}</p>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
