<div class="wrapper rtl">
  <div class="cd-section">
    <div class="header header-1">
      <div class="page-header header-filter">
        <div class="page-header-image" style="background-image: url('assets/img/bac1.png');"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-md-6">
              <h1>איך זה עובד?</h1>
              <div class="featured-image image-logo-head">
                <img src="assets/img/step.svg" alt="">
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="featured-image image-logo-head">
                <img src="assets/img/logo.png" alt="">
              </div>
              <ul dir="RTL" class="custom-header-ul">
                <li><i class="tim-icons icon-check-2"></i> ייעוץ משפטי ראשוני</li>
                <li><i class="tim-icons icon-check-2"></i> הזמנת פגישה דיגיטלית מידית עם עורך-דין</li>
                <li><i class="tim-icons icon-check-2"></i> תזמון שיחת ווידאו מהירה</li>
                <li><i class="tim-icons icon-check-2"></i>מערכת דירוג המבטיחה איכות</li>
                <li><i class="tim-icons icon-check-2"></i> תשלום בלחיצת כפתור</li>
              </ul>
              <button type="button" class="btnlegal btn-outline-primary-legal" [routerLink]="['/register']" routerLinkActive="router-link-active" >התחל</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
