
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$lease-ease-primary: mat-palette($mat-indigo);
$lease-ease-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$lease-ease-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$lease-ease-theme: mat-light-theme($lease-ease-primary, $lease-ease-accent, $lease-ease-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($lease-ease-theme);

a {
  .nav-link.active {
    color: red !important;
  }
}


.rtl{
  direction: rtl;
  .row > * {
    float: left !important;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.navbar.bg-primary {
  background-color: #22575d !important;
}

.mat-form-field {
  width: 100%;
  .mat-input-element {
      color: white;
  }
  .mat-form-field-label {
      color: white;
  }
  .mat-form-field-underline {
      background-color: white;
  }
  .mat-form-field-ripple {
      background-color: white;
  }
  .mat-form-field-required-marker {
      color: white;
  }
  ::placeholder{
    color: white;
  }
  &.mat-focused .mat-form-field-label {
    color: #fff;
}
}

.link.footer-link{
  color: white;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {

  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px rgba(61, 43, 43, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* TOASTR BUGFIX */
#toast-container > div {
  opacity: 1;
}
.toast {
  font-size: initial !important;
  border: initial !important;
  backdrop-filter: blur(0) !important;
}
.toast-success {
  background-color: #51A351 !important;
}
.toast-error {
  background-color: #BD362F !important;
}
.toast-info {
  background-color: #2F96B4 !important;
}
.toast-warning {
  background-color: #F89406 !important;
}

.page-header {
  max-height: fit-content !important;
}
