<div class="content">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="info-icon text-center icon-warning">
                <i class="tim-icons icon-chat-33"> </i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p class="card-category">
                  {{ "LAWYER.DASHBOARD.TOTAL" | translate }}
                </p>
                <h3 class="card-title">{{ meetings.length }}</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr />

          <div class="stats">
            <i class="tim-icons icon-refresh-01"> </i>
            {{ "LAWYER.DASHBOARD.UPDATE" | translate }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="info-icon text-center icon-primary">
                <i class="tim-icons icon-shape-star"> </i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p class="card-category">{{ "LAWYER.DASHBOARD.GAIN" | translate }}</p>
                <h3 class="card-title" [innerHTML]="TotalPrice()"></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr />

          <div class="stats">
            <i class="tim-icons icon-sound-wave"> </i> Last Research
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="info-icon text-center icon-success">
                <i class="tim-icons icon-single-02"> </i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p class="card-category">{{ "LAWYER.DASHBOARD.NEXTMEET" | translate }}</p>
                <h3 class="card-title">{{nextMeeting}}</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr />

          <div class="stats">
            <i class="tim-icons icon-trophy"> </i> Customers feedback
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Total Client</h5>
          <h3 class="card-title">
            <i class="tim-icons icon-bell-55 text-primary"> </i> {{ today | date:'yyyy' }}
          </h3>
        </div>
        <div class="card-body">
          <div class="chart-area"><canvas id="chartLineClient"> </canvas></div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Total &#8362;</h5>
          <h3 class="card-title">
            <i class="tim-icons icon-bell-55 text-primary"> </i> {{ today | date:'yyyy' }}
          </h3>
        </div>
        <div class="card-body">
          <div class="chart-area"><canvas id="chartLineMoney"> </canvas></div>
        </div>
      </div>
    </div>


  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div class="tools float-right">
            <div class="dropdown" ngbDropdown>
              <button
                class="btn btn-link dropdown-toggle btn-icon dropdown-toggle"
                data-toggle="dropdown"
                ngbDropdownToggle
                type="button"
              >
                <i class="tim-icons icon-settings-gear-63"> </i>
              </button>
              <div ngbDropdownMenu class="dropdown-menu-right">
                <a ngbDropdownItem [routerLink]="['/lawyer/mymeetings']">
                  View all
                </a>
              </div>
            </div>
          </div>
          <h5 class="card-title">Total Client</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <tr>
                  <th class="text-center">#</th>
                  <th class="text-center">
                    {{ "LAWYER.MYMEETING.NAME" | translate }}
                  </th>
                  <th class="text-center">
                    {{ "WEBSITE.MYMEETING.DATE" | translate }}
                  </th>
                  <th class="text-center">
                    {{ "WEBSITE.MYMEETING.CONFIRM" | translate }}
                  </th>
                  <th class="text-center">
                    {{ "WEBSITE.MYMEETING.HOURS" | translate }}
                  </th>
                  <th class="text-center">
                    {{ "WEBSITE.MYMEETING.PRICE" | translate }}
                  </th>
                  <th class="text-center">
                    {{ "WEBSITE.MYMEETING.PAYED" | translate }}
                  </th>
                  <th class="text-center">ZOOM LINK</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of meetings; let i = index">
                  <td class="text-center">{{ i + 1 }}</td>
                  <td>
                    {{ item.userID[0].firstname }}
                    {{ item.userID[0].lastname }}
                  </td>
                  <td>
                    {{ item.date }}
                  </td>
                  <td>
                    <span
                      *ngIf="item.confirmed == 0"
                      class="badge badge-warning"
                      >{{ "WEBSITE.MYMEETING.AWAIT" | translate }}</span
                    >
                    <span
                      *ngIf="item.confirmed == 1"
                      class="badge badge-success"
                      >{{ "WEBSITE.MYMEETING.CONFIRMED" | translate }}</span
                    >
                    <span
                      *ngIf="item.confirmed == 2"
                      class="badge badge-danger"
                      >{{ "WEBSITE.MYMEETING.REFUSED" | translate }}</span
                    >
                  </td>
                  <td>
                    {{ item.hour.length / 2 }}
                    {{ "WEBSITE.MYMEETING.HOURS" | translate }}
                  </td>
                  <td
                    class="text-right"
                    [innerHTML]="calculePrice(item.lawyerID[0], item.hour)"
                  ></td>
                  <td class="text-right">
                    <span
                      *ngIf="paymentConfirmation(item.paymentinfo) === 0"
                      class="badge badge-pill badge-warning"
                      >{{ "WEBSITE.MYMEETING.NOTRANS" | translate }}</span
                    >
                    <span
                      *ngIf="paymentConfirmation(item.paymentinfo) === 1"
                      class="badge badge-pill badge-success"
                      >{{ "WEBSITE.MYMEETING.PAYCONF" | translate }}</span
                    >
                    <span
                      *ngIf="paymentConfirmation(item.paymentinfo) === 2"
                      class="badge badge-pill badge-danger"
                      >{{ "WEBSITE.MYMEETING.PAYREF" | translate }}</span
                    >
                  </td>
                  <td>
                    <a
                      [attr.href]="
                        item.zoomDetails ? item.zoomDetails : 'https://zoom.us/'
                      "
                      >Link</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
