<div class="wrapper rtl">
  <div class="cd-section">
    <div class="header header-1">
      <div class="page-header header-filter">
        <div class="page-header-image" style="background-image: url('assets/img/bac1.png');"></div>
        <div class="container">
          <div class="row">
            <div class="col"></div>
            <div class="col" dir="rtl">
              <p>
                <mat-form-field appearance="legacy">
                  <mat-label>Legacy form field</mat-label>
                  <input matInput placeholder="Placeholder">
                  <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="legacy">
                  <mat-label>Legacy form field</mat-label>
                  <input matInput placeholder="Placeholder">
                  <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
              </p><p>
                <mat-form-field appearance="legacy">
                  <mat-label>Legacy form field</mat-label>
                  <input matInput placeholder="Placeholder">
                  <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
              </p><p>
                <mat-form-field appearance="legacy">
                  <mat-label>Legacy form field</mat-label>
                  <input matInput placeholder="Placeholder">
                  <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
              </p>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
