.navbar-brand {
  .logo {
    margin-left: -1rem;
    width: 12rem;
    margin-top: -2rem;
  }
}


.active{
  color: greenyellow !important;
}

::ng-deep .mat-menu-content {
    background: white !important;
    border-top: solid 1px #4b1b1b00;
    border-bottom: solid 1px #4b1b1b00;
}

::ng-deep .mat-menu-item {
    padding: 0 0 0 0 !important;
}

.legal-register{
  margin: 0 0 0 0 !important;
}
.btn{
  margin: 4px 0px!important;
  border-radius: 0rem!important;
}
.btnregister{
  background-color: #0f677a!important;
  background-image: linear-gradient(to bottom left, #0f677a, #0f677a, #0f677a)!important;
}

